# gRPC Backend Configuration
BACKEND_HOST=localhost
BACKEND_PORT=5002

# Qdrant Vector Database Configuration
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_API_KEY=
VECTOR_DIMENSION=44
DISTANCE_METRIC=Cosine

# Internal ML-Agent Parameters
A_LEN=8
WINDOW_SIZE=100
